*{
        box-sizing: border-box; /*controla a altura e largura de um elemento*/
        margin: 0%;
        padding: 0%;
    } /* Reset no estilo do browser */
    
    /*CORPO=BODY*/
    
    body{
        background-color: #dbffee;
        color: #305c4d;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
    }
    
    header{
        background-color: #305c4d;
        color: #fff;
        margin-bottom: 20px;
        padding: 15px;
        text-align: center;
    }
    
    nav{
        margin-top: 10px ;
    }
    nav a{
        color: #dac861;
        font-weight: bold; /*define a intensidade da marcação da letra*/
        margin: 0 10px; /*coloca margin 0 no TOP e BOTTOM e 10px no LEFT e RIGHT*/
        text-decoration: none; /*remove a marcação do link*/
    }
    nav a:hover{
        background-color: #187551;
        color: #fff;
        padding: 5px;
        text-decoration: underline; /*coloca sublinhado na palavra*/
    }
    
    h1{
        font-size: 2.2em;
        margin-bottom: 5px;
    }
    
    section{
        display: flex;
        flex-wrap: wrap; 
        gap: 20px; 
        justify-content: center; 
        margin: 20px auto;
        max-width: 800px;
        text-align: center;
    }
        .section_resumo{
            display: flex;
            flex-wrap: wrap; /*BR do css*/
            gap: 20px; /*espaçamentos entre elementos*/
            justify-content: center; /*alinha os itens horizontalmente*/
            margin: 20px auto;
            max-width: 800px;/*definição proxima aula*/
            text-align: center;
    }
    .inicio{
        box-shadow: 6px 6px #187551;
        border-radius: 6px;
        height: 360px; /*altura fixa*/
        margin: 10px 0;
        object-fit: cover; /*corta proporcionalmente sem deformar*/
        width: 100%; /*ocupa a largura do card*/
    }
    section{
        display: flex;
        flex-wrap: wrap; /*BR do css*/
        gap: 20px; /*espaçamentos entre elementos*/
        justify-content: center; /*alinha os itens horizontalmente*/
        margin: 20px auto;
        max-width: 800px;/*definição proxima aula*/
        text-align: center;
    }
        .section_opcoees{
            display: flex;
            flex-wrap: wrap; /*BR do css*/
            gap: 20px; /*espaçamentos entre elementos*/
            justify-content: center; /*alinha os itens horizontalmente*/
            margin: 20px auto;
            max-width: 800px;/*definição proxima aula*/
            text-align: center;
    }
    
    .botoes{
        background-color: #00ff000a;/*arredondamento da borda*/
        border-radius: 8px;
        border: 2px solid #187551;
        box-shadow: 5px 5px #187551;
        padding: 15px;
        text-align: center;
        transition: transform 0.3s; /**/
        width: 280px;/*largura do card*/
    }
    .botoes:hover{
        transform: scale(1.05);
    }
    h3{
        color: #187551;
        margin: 10px 0;
    }
    .botoes img{
        box-shadow: 3px 3px #187551;
        border-radius: 6px;
        height: 180px; /*altura fixa*/
        margin: 10px 0;
        object-fit: cover; /*corta proporcionalmente sem deformar*/
        width: 100%; /*ocupa a largura do card*/
    
    }
    .botoes a{
        background-color: #145c26;
        border-radius: 4px;
        color: #fff;
        display: inline-block; /*faz ele ficar na mesma linha que outros elementos*/
        margin-top: 10px;
        padding: 8px 12px;
        text-decoration: none;
    } 
    .section_baixo{
        display: flex;
        flex-wrap: wrap; /*BR do css*/
        gap: 20px; /*espaçamentos entre elementos*/
        justify-content: center; /*alinha os itens horizontalmente*/
        margin: 20px auto;
        max-width: 800px;/*definição proxima aula*/
        text-align: center;
}
    .final{
        box-shadow: 6px 6px #187551;
        border-radius: 6px;
        height: 360px; /*altura fixa*/
        margin: 10px 0;
        object-fit: cover; /*corta proporcionalmente sem deformar*/
        width: 100%; /*ocupa a largura do card*/
    }/*FOOTER*/
    .footer{
        background-color: #273325;
        color: #eee;
        padding: 40px 20px 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .secao_footer{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
        margin: auto;
        max-width: 1100px;
    }
    .secao_div{
        flex: 1 1 250px; /*pesquisar*/
    }
    .secao_div h4{
        color: #187551;
        font-size: 15px;
        margin-bottom: 15px;
        text-transform: uppercase; /*pesquisar*/
    }
    .secao_div p{
        font-size: 14px;
        line-height: 1.6;
    }
    .secao_div ul{
        list-style: none;
        padding: 0;
    }
    .secao_div ul li{
        margin-bottom: 8px;
    }
    .secao_div ul li a{
        color: #ccc;
        text-decoration: none;
        transition: color 0.3 ease; /*pesquisar*/
    }
    .secao_div ul li a:hover{
        color: #187551;
    }
    .secao_paragrafo{
        text-align: center;
        margin-top: 1px solid #333;
        color: #ccc;
        font-size: 13px;
        padding-top: 15px;
        margin-top: 25px;
        text-align: center;
    }